@charset "utf-8";

body{
    background-color: rgba(63, 58, 58, 0.699);
    font: normal normal 1em Arial,Verdana,sans-serif;
}
main{
    background-color: white;
    border-radius: 2px;
    background-attachment: fixed;
}
#principal{
    text-align: center;
    color: white;
    background-color: brown;
}
.destaque{
    background-color: rgba(211, 211, 39, 0.87);
}