/*DASHBOARD*/
h1 {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: center;
  width: 120px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dcebe6;
}

tr:hover:nth-child(1n + 2) {
  background-color: #085f63;
  color: #fff;
}
.alongar {
  width: 200px;
}
button {
  display: block;
  margin: 20px auto;
  width: 230px;
  height: 50px;
  background: #c8cfcc;
  cursor: pointer;
  border-radius: 20px;
  border-color: transparent;
}
button:hover {
  background-color: #085f63;
  color: #fff;
}
