/*DASHBOARD*/
header {
  background-color: #000;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nomeLogo{
  font-size: 1.17em;
  color: #ec4141;
  margin-left: 40px;
}

.buttonSair{
  margin-right: 20px;
  display: inline-block;
  padding: 6px 18px;
  background-color: #ec4141;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.buttonSair:hover{
  background-color: #e96d6d;
}

.infosAluno{
  margin-top: 20px;
  margin-left: 20px;
}

h2 {
  text-align: center;
}
body{
  background-color: #ededed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto 10px;
  background-color: #fff;
}

th,
td {
  padding: 10px;
  text-align: center;
  width: 120px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dcebe6;
}

tbody tr:hover:nth-child(1n + 1) {
  background-color: #085f63;
  color: #fff;
}

#container-fichas{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
